# macOS
.DS_Store
._*

# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs and outputs
logs/*
!logs/*.csv
outputs/*
!outputs/*_idx_to_label.json
!outputs/*_summary.json
experiments/*
!experiments/*.md

# Models
checkpoints/
runs/
*.pt
*.pth
*.onnx
*.h5

# Data
data/
dataset/
datasets/

# Misc
*.log
